<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-10">

<div class="bg-white p-6 rounded shadow max-w-xl mx-auto">
  <h2 class="text-2xl font-bold mb-4">Bulk Mail Sender</h2>

  <form method="post" action="/send" enctype="multipart/form-data">
    <input type="file" name="csv_file" required class="mb-3">

    <textarea name="message" rows="7" required
      placeholder="Type message to send..."
      class="w-full p-2 border rounded mb-4"></textarea>

    <button class="bg-green-600 text-white px-4 py-2 rounded">
      SEND NOW
    </button>
  </form>

  {% for msg in get_flashed_messages() %}
    <p class="text-green-600 mt-4">{{ msg }}</p>
  {% endfor %}
</div>

</body>
</html>
